@import 'utility.css';
@import 'smooth-menu.css';

/*Header Start*/
header {
    background-color: var(--black);
}

header .header-top {
    background-color: #fff;
}

header .header-top .contact-block ul li {
    color: var(--primary-color);
    margin-right: 2rem;
}

header .header-top .contact-block ul li a {
    font-size: 1.4rem;
    color: var(--black);
    line-height: 1.3;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    transition: var(--trans);
}

header .header-top .contact-block ul li a:hover {
    color: var(--primary-color);
}

header .header-top .social-block ul li {
    color: var(--primary-color);
    margin-left: 2rem;
}

header .header-top .social-block ul li a {
    font-size: 1.5rem;
    color: var(--black);
    line-height: 1.3;
    padding: 0;
    margin: 0;
    transition: var(--trans);
}

header .header-top .social-block ul li a:hover {
    color: var(--primary-color);
}

header .header-bottom {
    background-color: var(--black);
}

header .header-bottom .brand {
    width: 15rem;
}

header .header-bottom .navbar ul li {
    margin-left: 2rem;
}

header .header-bottom .navbar ul li a {
    font-family: var(--secondary-font);
    font-size: 2rem;
    color: #fff;
    line-height: 1.3;
    transition: var(--trans);
}

header .header-bottom .navbar ul li a:hover {
    color: var(--accent-color);
}

header .header-bottom .hamburger {
    background-color: transparent;
    border: none;
    display: none;
    font-size: 4rem;
    color: #fff;
    cursor: pointer;
}


/*Banner*/
.banner {
    background-color: #fff;
    background-image: var(--bgi);
    padding: 10rem 0;
    margin: 0;
}

.banner .hero-text {
    width: 60%;
}

.banner .hero-text h1 {
    font-family: var(--secondary-font);
    font-size: 3rem;
    color: var(--primary-color);
    line-height: 1.1;
    font-weight: 400;
}

.banner .hero-text h1 span {
    font-family: 'Lato', sans-serif;
    font-size: 7rem;
    display: block;
    color: var(--black);
    font-weight: 800;
}

.banner .hero-text p {
    font-size: 2.2rem;
    line-height: 1.5;
}

.banner .hero-text a.btn {
    font-family: inherit;
    color: var(--off-white);
    background-color: var(--black);
    padding: 1.5rem 2.4rem !important;
    margin-top: 30px;
}

.banner .my-photo {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: rotate(5deg);
    position: relative;
    transition: var(--trans);
}

.banner .my-photo:hover {
    transform: rotate(0deg);
}

.banner .my-photo::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 4px solid #ddd;
    transform: rotate(-10deg);
    z-index: -1;
    transition: var(--trans);
}

.banner .my-photo:hover::after {
    transform: rotate(0deg);
}

/*About Me*/

.about-me {
    background: transparent url(../images/bg.png) repeat fixed 0% 0%;
    padding: 10rem 0;
}

.about-me p {
    font-size: 1.8rem;
    color: var(--black);
    line-height: 1.5;
    padding: 0 10rem;
    margin: 0 0 3rem 0;
}

/*My Skills*/
.my-skills {
    background-color: #fff;
    padding: 6rem 0;
}

/*Get in Touch*/
.get-in-touch {
    background: transparent url(../images/bg.png) repeat fixed 0% 0%;
    padding: 6rem 0;
    margin: 0;
}

.get-in-touch h2 {
    font-size: 4rem;
    color: var(--black);
    line-height: 1.3;
    padding: 0;
    margin: 0 0 3rem 0;
}

.get-in-touch form .input-group .form-control {
    border-radius: .3rem;
    padding: 1.5rem;
    transition: var(--trans);
}

.get-in-touch form .input-group textarea.form-control {
    height: 10rem;
    resize: none;
}

.get-in-touch form .input-group .form-control:focus {
    border: .1rem solid #000;
    outline: none;
}

.get-in-touch form .input-group .btn.btn-submit {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
    color: var(--off-white);
    background-color: var(--black);
    padding: 1.2rem 2.4rem !important;
    transition: var(--trans);
}

.get-in-touch form .input-group .btn.btn-submit:active {
    transform: scale(.9);
}

.get-in-touch form .input-group #msg {
    display: none;
    font-size: 1.3rem;
    color: #2cbc63;
    font-weight: 400;
    background-color: #d3ffe3;
    border-radius: .5rem;
    padding: .3rem .6rem;
}

.get-in-touch .links a {
    display: block;
    font-family: inherit;
    font-size: 1.6rem;
    color: #000;
    line-height: 1.3;
    padding: 0;
    margin: 0 0 2rem 0;
}

.get-in-touch .map-block {
    border: 1px solid #efefef;
    border-radius: .3rem;
}

.get-in-touch .map-block iframe {
    display: block;
    border: none;
    outline: none;
    max-width: 100%;
    width: 100%;
    height: 19rem;
}


/*Footer*/
footer {
    background-color: var(--black);
    color: #fff;
    margin: 0;
}

footer p {
    font-size: 1.4rem;
    color: #999;
    line-height: 1.3;
    font-weight: 400;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    font-size: 1.4rem;
    color: var(--off-white);
    line-height: 1.3;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: var(--trans);
}

footer ul li a:hover {
    color: var(--accent-color);
}


/*Back to top*/
button#back2top {
    /*Button will appear on bottom-right corner of the page */
    position: fixed;
    right: 2%;
    bottom: 2%;
    opacity: 0;
    visibility: hidden;

    /*For better looking button*/
    font-size: 1.6rem;
    color: #000;
    background-color: #fff;
    border: .1rem solid #000;
    outline: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
}


/*400 Page*/
.error-page-title {
    font-family: 'Special Elite', cursive;
    font-size: 5rem;
    color: crimson;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}

.error-page-sub-title {
    font-family: 'Special Elite', cursive;
    font-size: 2.5rem;
    color: #666;
    line-height: 1.3;
}

.error-page-link {
    display: inline-block;
}

/*Preloader*/
#preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    inset:0;
    pointer-events: none;
    z-index: 999999;
}
/*Media Query*/
@media screen and (max-width: 480px) {
    header .header-bottom nav.navbar {
        display: none;
    }

    header .header-bottom .hamburger {
        display: block;
    }

    .banner {
        padding: 4rem 0;
    }

    .banner .hero-text {
        width: 100%;
    }

    .banner .hero-text h1 span {
        font-size: 4rem;
    }

    .banner .hero-text p {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .banner .my-photo {
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
    }

}
